<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Social Reader</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='comics.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body class="mx-auto col-8 current-read p-2">
    <nav class="my-3 mx-auto col-8">
        <div class="text-end me-2 mx-auto col-8">
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>

        <div class="ms-2 text-center">
            <h1>Super Social Reader!!!</h1>
        </div>
    </nav>
    <main class="d-flex">
        <div class="character-input">
            <form class="d-flex align-items-center justify-content-center" action="/get/character" method="post" id="superAPIForm">
                <!-- icon will display popup, explaining how to use-->
                <div>
                    <label class="form-label" for="hero-select">Enter Superhero Name</label><span> <i
                            class="bi bi-patch-question"></i></span>
                    <input type="search" name='superAPIForm' class="form-control" id="hero-select">
                </div>
                <input class="mt-4 mx-2" type="submit" value="Search">
            </form>
        </div>
    </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ajax.js') }}"></script>
</body>

</html>