<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Social Reader</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='comics.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body class="mx-auto col-8 super-background">

    <nav class="my-3">
        <div class="text-end me-2">
            <a href="/logout">Logout</a>
            <a href="/upload/page">Edit Profile image</a>
        </div>

        <div class="ms-2 text-center">
            <h1>Super Social Reader!!!</h1>
        </div>
    </nav>
    <main class="d-flex justify-content-around dashboard align-items-center ">
        <div>
            <h2 class="text-center readar-header text-white">Reader Radar</h2>
        <div class="reading-list d-flex flex-column p-2 border border-dark border-3">
            {% if all_comics == None %}
                <p>No Reading Activity Detected</p>
            {% else %}
            {% for this_comic in all_comics %}
                {% if this_comic.user.id != this_user.id %}
                    {% if this_comic.status == 'reading' %}
                    <div class="bg-warning border border-3 border-dark mb-3 p-1 text-wrap">
                        {% if this_comic.user.file_name == None %}
                            <img class="avatar-image radar-avatar mx-2" src="../static/assets/avatar-placeholder.png" alt="user" srcset="">
                        {% else %}
                            <img class="avatar-image radar-avatar mx-2" src="../static/assets/user_images/{{this_comic.user.file_name}}" alt="user" srcset="">
                        {% endif %}
                        <p><a href="/user/{{this_comic.user.id}}/past/comics">{{ this_comic.user.username }}</a> is currently reading <a href="/comic/{{this_comic.id}}">{{this_comic.title}}</a></p>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        </div>
        <div class="user-info">
                <div class="d-flex flex-column justify-content-start align-items-center current-user-comics p-1">
                    <!-- I wonder if I could make background of this div a thought bubble? Avoid the arbitrary positioning? -->
                    <div class="mt-5" id="bubble-content">
                        {% if all_users_comics == None %}
                            <p class="text-center mt-5">Not reading anything yet!</p>
                        {% else %}
                            {% for this_user_comic in all_users_comics %}
                            <p class="text-center"><a  href="/comic/{{this_user_comic.id}}">{{this_user_comic.title}}</a></p>
                            {% endfor %}
                        {% endif %}
                        <p class="text-center">Yooooo</p>
                        <p class="text-center">Yooooo</p>
                        <p class="text-center">Yooooo</p>
                    </div>
                </div>
                <div id="user-avatar-image">
                {% if this_user.file_name == None %}
                <img class="avatar-image"  src="../static/assets/avatar-placeholder.png" alt="user" srcset="">
                {% else %}
                <img class="avatar-image" id="user-avatar-image" src="../static/assets/user_images/{{this_user.file_name}}" alt="user" srcset="">
                {% endif %}
                </div>
                <div class=" d-flex reading-routes">
                    <div>
                        <a title="past comics" href="/user/{{this_user.id}}/past/comics"><img class="route bg-warning mx-3" src="../static/assets/past.png" alt="" srcset=""> </a>
                        <a title="add comic" href="/add/comic"><img class="route bg-warning" src="../static/assets/add.png" alt="" srcset=""></a>
                    </div>
                </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>