<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Social Reader</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='comics.png') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="mx-auto col-8 edit-image">
    <nav class="my-3 mx-auto col-8">
        <div class="text-end me-2">
            <a href="/dashboard">Dashboard</a> | 
            <a href="/logout">Logout</a>
        </div>
        
        <div class="ms-2 text-center">
            <h1>Super Social Reader!!!</h1>
        </div>
    </nav>
    <main class="comic-forms">
        {% with messages = get_flashed_messages(category_filter = ['comic']) %}
            {% if messages %}
            <div class="alert alert-warning">
                {% for message in messages %}
                <p class="text-danger">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <form class="d-flex bg-light flex-column col-6 mx-auto comic-form-update align-items-between book-form" action="/update/{{this_comic.id}}" method="post" enctype="multipart/form-data">
            <legend><h2 class="text-center ms-4 py-2">Update Comic!</h2></legend>
            <div class="mt-1">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" name="title" id="title" type="text" value="{{this_comic.title}}">
            </div>
            <div class="mt-1">
                <label class="form-label" for="author">Author(s)</label>
                <input class="form-control" name="author" id="author" type="text" value="{{this_comic.author}}">
            </div>
            <div class="my-2">
                <label class="form-label" for="artist">Artist(s)</label>
                <input class="form-control" name="artist" id="artist" type="text" value="{{this_comic.artist}}">
            </div>
            <div class=">
                <label class="form-label" for="colorist">Colorist(s)</label>
                <input class="form-control" name="colorist" id="colorist" type="text" value="{{this_comic.colorist}}">
            </div>
            <div class="my-2">
                <label class="form-label" for="letterer">Letterer(s)</label>
                <input class="form-control" name="letterer" id="letterer" type="text" value="{{this_comic.letterer}}">
            </div>
            <div class="my-2">
                <label class="form-label" for="status">Status</label>
                <select class="form-control" name="status" id="status">
                    <option value="{{this_comic.status}}">{{this_comic.status}}</option>
                    <option value="Not Reading">Not Reading</option>
                    <option value="Reading">Reading</option>
                    <option value="Paused">Paused</option>
                    <option value="Finished">Finished</option>
                </select>
            </div>
            <div class="my-2">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-control" name="rating" id="rating" min="0" max="10" type="number" value="0" placeholder="Ready to rate?">
            </div>
            <div class="my-2">
                <label class="form-label" for="thought">Thoughts </label>
                <br>
                <textarea class="post-text" rows="4" cols="35" id="thought" name="thought" placeholder="Ready to share your thoughts?"></textarea>
                <br>
                <span class="count">Characters remaining: </span><span class=" count characters">255</span>
            </div>
            <div class=" visually-hidden mt-2">
                <label class="form-label" for="file"></label>
                <input class="form-control" name="file" id="file" type="text" value="{{this_comic.cover_art}}">
            </div>
            <div class="mt-2">
                <label class="form-label" for="file">Update Cover Art (optional)</label>
                <input class="form-control" name="file" id="file" type="file" value="{{this_comic.cover_art}}">
            </div>
            <div class="d-flex my-1 justify-content-end">
                <input class="btn btn-secondary mx-2" type="submit" value="Update">
            </div>
        </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>