* {
    margin: 0;
    padding: 0;
    transition: 5ms;
}

nav {
    height: 100px;
    background-image:linear-gradient(to right, gold, white, gold);
    border: 5px solid black;
}

form {
    padding: 1rem;
    border: solid black 6px;
}
.login-registration{
    background-color: white;
    padding: 1rem;
}
/* .dashboard{
} */

.super-profile{
    background-image: url('../static/assets/super_profile.jpeg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.super-background{
    background-image: url('../static/assets/realistic.png') !important;
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
}

/* .login, .registration{
    
} */

.reading-list{
    overflow: scroll;
    height: 300px;
    width: max-content;
    background-color: aliceblue;
}

.current-user-comics{
    width: fit-content;
    height: 25px;
    overflow: scroll;
}

.comic-details{
    width: min-content;
}

.past-reads{
    overflow: scroll;
    height: 50%;
}
.flex-item{
    flex: 1fr;
}