@keyframes page-fades{
    from {opacity: 0;}
    to {opacity: 1;}

}

* {
    margin: 0;
    padding: 0;
}
body{
    animation-name: page-fades;
    animation-duration: 1.5s;
}
a{
    text-decoration: none !important;
}

nav {
    height: 100px;
    background-image:linear-gradient(to right, gold, white, gold);
    border: 5px solid black;
    box-shadow: 8px 8px 1px black;
}
/* The class of login-reg Main elements */
.login-registration{
    padding: 1rem;
    margin-top: 50px;
}
form {
    padding: 1rem;
    border: solid black 3px;
}
form.user-form {
    padding: 1rem;
    border: 10px solid black;
    background-color: white;
}
input.form-control{
    width: max-content;
}

/* .dashboard{
} */

.super-login{
    background-image: url('../static/assets/login.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.super-register{
    background-image: url('../static/assets/registration.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.super-background{
    background-image: url('../static/assets/realistic.png') !important;
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
}
.dashboard{
    margin-top: 150px;
}

.avatar-image{
    border-radius: 100%;
    height: 175px;
    width: 175px;
}
#user-avatar-image{
    position:sticky;
    bottom: 150px;
}
.radar-avatar{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    float: left;
}

.reading-list{
    overflow: scroll;
    height: 300px;
    width: max-content;
    background-color: aliceblue;
}

.current-user-comics{
    background-image: url('../static/assets/current.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 300px;
    /* overflow: scroll; */
    z-index: 1;
    margin-left: 150px;
    position: sticky;
}
#bubble-content{
    height: 85px;
    width: fit-content;
    overflow: scroll;
}
.reading-routes{
    position: sticky;
    bottom: 100px;
}
.route{
    height: 70px;
    width: 70px;
    border-radius: 5px !important;
    padding: 1px !important;
}
.comic-details{
    width: min-content;
    text-overflow: clip;
}

.past-reads{
    overflow: scroll;
    height: 50%;
}
.flex-item{
    flex: 1fr;
}