@keyframes page-fades{
    from {opacity: 0;}
    to {opacity: 1;}

}

/* @font-face {
    font-family: 'Comic Neue';
    src: url('../static/assets/fonts/ComicNeue-BoldItalic.eot');
    src: url('../static/assets/fonts/ComicNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../static/assets/fonts/ComicNeue-BoldItalic.woff2') format('woff2'),
        url('../static/assets/fonts/ComicNeue-BoldItalic.woff') format('woff'),
        url('../static/assets/fonts/ComicNeue-BoldItalic.ttf') format('truetype'),
        url('../static/assets/fonts/ComicNeue-BoldItalic.svg#ComicNeue-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
} */

/* @keyframes color-mirage {
    0% {background-image: linear-gradient(90deg, dodgerblue, white, gold);}
    25% {background-image: linear-gradient(90deg, dodgerblue, white);}
    50% {background-image: linear-gradient(90deg, dodgerblue,gold);}
    75% {background-image: linear-gradient(90deg, white,gold);}
    100% {background-image: linear-gradient(90deg, dodgerblue,gold);}
} */

* {
    margin: 0;
    padding: 0;
}
body{
    animation-name: page-fades;
    animation-duration: 1.5s;
    /* font-family: 'Comic Neue'; */
}

.super-login{
    background-image: url('../static/assets/login.jpg') !important;
    background-repeat: repeat;
    background-size: cover;
}

.login-reg-filter{
    background-color: rgba(216, 214, 214, 0.4);
    height: 60rem;
}

.super-register{
    /* animation: color-mirage 5s infinite;
    background-image: linear-gradient( 45deg, dodgerblue, white, crimson, grey, gold); */
    background-image: url('../static/assets/login.jpg') !important;
    background-repeat: repeat;
    background-size: cover;
    background-position: right;
}
.super-background{
    background-image: url('../static/assets/realistic.png') !important;
    background-repeat: repeat;
    background-size: cover;
    /* background-position:; */
}
.current-read{
    background-image: url('../static/assets/super_profile.jpeg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.past-reads{
    background-image: url('../static/assets/past_reads_bg.jpg') !important;
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
}
.add-comic{
    background-image: url('../static/assets/add_comic.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.edit-image{
    background-image: url('../static/assets/update.jpg') !important;
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
}
.edit-profile-image{
    background-image: url('../static/assets/picture.jpg') !important;
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
}

a{
    text-decoration: none !important;
}
h1{
    font-size: 35pt !important;
}
nav {
    height: 100px;
    background-image:linear-gradient(to right, gold, white, gold);
    border: 5px solid black;
    box-shadow: 8px 8px 1px black;
}
/* The class of login-reg Main elements */
.login-registration, .comic-forms{
    padding: 1rem;
    margin-top: 50px;
}
form {
    padding: 1rem;
    border: solid black 3px;
}
form.user-form {
    padding: 1rem;
    border: 6px solid black;
    background-color: white;
}
input.user-form{
    width: max-content;
}
input.comic-form{
    width: auto !important;
}
.comic-form-update{
    height: 500px;
    overflow: scroll;
}
/* .dashboard{
} */

.dashboard{
    margin-top: 150px;
}

.avatar-image{
    border-radius: 100%;
    height: 175px;
    width: 175px;
}
#user-avatar-image{
    position:relative;
    bottom: 15px;
}
.radar-avatar{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    float: left;
}

.reading-container{
    padding: 1rem;
    height: 275px;
    width: max-content;
    background-color: aliceblue;
    overflow: scroll;
    height: 250px;
}
/* .reading-list{
    overflow: scroll;
    height: 200px;
    width: max-content;
} */
.reader-area {
    height: max-content;
}
.finished-comic{
    filter: grayscale(100%);
}

.current-user-comics{
    background-image: url('../static/assets/current.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 300px;
    /* overflow: scroll; */
    z-index: 1;
    margin-left: 150px;
    position: sticky;
}
#bubble-content{
    margin-top: 75px !important;
    height: 85px;
    width: 150px;
    overflow: scroll;
}
.reading-routes{
    position: relative;
    bottom: 50px;
}
.route{
    height: 70px;
    width: 70px;
    border-radius: 5px !important;
    padding: 1px !important;
    background-color: #fec107;
}

.route-bg-active{
    background-color: darkturquoise !important;
    height: 80px;
    width: 80px;
}

.comic-details{
    width: min-content;
    text-overflow: clip;
}
#comic-discussion-post{
    box-shadow: 2px 2px 2px black;
}

.added-image{
    width: 200px !important;
    height: 250px;
}

.past-reads{
    overflow: scroll;
    height: 50%;
}

.read-action{
    height:min-content;
    width: 200px;
}

.active-box{
    box-shadow: 2px 3px 2px 1px black;
}

.bi-patch-question-fill{
    position: relative;
    bottom: 15px;
}

.character-popup{
    display: none;
    /* height: 80px;
    width: 80px; */
    position: fixed;
}